body {
    font-family: "Montserrat";
    margin: 0 auto;
    color: rgb(42, 42, 42);
    margin-top: 20px;

}

main {
    max-width: 1280px;
    margin: auto;
}

.logo img {
    max-width: 64px;
}

.top-container {
    display:flex;
    justify-content: space-between;
    /* automatiskai parenka parastes is kaires ir desines puses */
    /* svetaines iscentravimas su margin auto ir nustatant maksimalu ploti */
    margin: auto;
    max-width: 1280px;
    background: #fff;
}

.navigation {
    display:inline-block;
}

.navigation ul li {
    display: inline;
    margin-right:30px;
}

.navigation ul li:last-child {
    margin-right: 0px;
}


.navigation ul li a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

.navigation ul li a:hover {
    opacity: 0.7;
    color: rgb(42, 42, 42);
}

.navigation ul li a:visited {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.image-container {
    width: 50%;
}

.image-container img {
    max-width: 100%;
}

.title-container {
    width: 50%;
}

.title-container h1 {
    font-size: 40px;
    font-weight: 900;
}

.title-container a {
    font-weight: 700;
    background-color: rgb(243, 218, 105);
    /* padding: 15px 75px 15px 75px; */
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    white-space: nowrap;
    text-decoration: none;
}

.title-container a:hover {
    color: rgb(42, 42, 42);
}

.title-container a:visited {
    color: rgb(42, 42, 42);
}

.title-container p {
    padding-bottom: 40px;
    font-weight: 700;
    line-height: 30px;
}

.blog-title-container h1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;

}

.blog-title-container p {
    padding-bottom: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
}

.blog-image-container {
    display: flex;
    justify-content: space-between;
    width:100%;
    display: row;
}

.blog-image-container div {
    width: 32%;
}

.blog-image-container img {
    width:100%;
    height: 100%;
    position: relative;
}

.blog-image-container img:hover {
    opacity: 0.2;
} 

.blog-image-container div {
    position: relative;
    background-color: rgb(243, 218, 105);
    opacity: 1;
}

.blog-image-container div p {
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    margin:0;
}

.img-text {
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

.img-text div {
    width:32%;
    /* padding-left:20px; */
}

.img-text .article-desc {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}

.article-date {
    color: grey;
}

.showcase-title h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.showcase-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
}

.showcase-grid img {
    max-width: 100%;
    height: 100%;
}

.grid-img1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-img2 {
    grid-column: 1/2;
    grid-row: 3/last-line;
}

.grid-img3 {
    grid-column: 2/3;
    grid-row: 1/ 4;
}

.grid-img4 {
    grid-column: 2/3;
    grid-row: 4/ last-line;
}

.grid-img5 {
    grid-column: 3/4;
    grid-row: 1/ 3;
}

.grid-img6 {
    grid-column: 3/4;
    grid-row: 3/ last-line;
}

.about-title h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.about-title p {
    font-weight: 700;
}

.about-title {
    padding-bottom: 20px;
}


/* about us section */


.about-content-container {
    display:flex;
    justify-content: space-between;
    width:100%;
}

.about-img, .about-text {
    width: 31%;
}

.text-inside {
    position: absolute;
    background-color: rgb(243, 218, 105);
    width: 55%;
    bottom:0px;
    left:0px;
    padding:5px 5px;
}

.text-inside p {
    margin-bottom: 8px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left:10%;
    font-size: 12px;
}

.text-inside h3 {
    margin-bottom:5px;
    margin-top: 5px;
    padding-left:10%;
    text-align: left;
}

.about-img {
    position:relative;
}

.about-content-container img {
    width: 100%;
    height: 100%;
}


/* about us section end */



.about-text {
    align-self: center;
}

.about-text p {
    font-weight: 700;
}

.contact-title {
    margin-top:50px;
}

.contact-title h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.contact-title p {
    line-height: 30px;
    font-weight: 700;
}

.contact-content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.content-img-container {
    width: 50%;
}

.content-img-container img {
    max-width: 100%;
}

.contact-content-container {
    width: 100%;
    margin-top:30px;
}

.contact-content-container h2 {
    font-weight: 800;
}

.content {
    display:flex;
    flex-direction:column;
    width:50%;
}

.content h2 {
    /* padding-bottom: 25px; */
    text-transform: uppercase;
}

.content input, textarea {
    border: none;
    margin-bottom:30px;
    /* margin-left: 10px; */
    background-color: rgb(201, 201, 201, 0.1);
    height: 40px;
    resize: none;
    font-family: "Montserrat";
    font-weight: 700;
    width:95%
}

.content textarea {
    height: 180px;
}

.send-message2 a {
    font-weight: 700;
    background-color: rgb(243, 218, 105);
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    /* margin-left: 10px; */
    white-space: nowrap;
    text-decoration: none;
}

.send-message2 a:hover {
    color: rgb(42, 42, 42);
}

.send-message2 a:visited {
    color: rgb(42, 42, 42);
}

.bottom-contacts {
    padding-top:100px;
}

.bottom-contacts-info {
    display:flex;
    justify-content: center;
    width: 100%;
}

.bottom-contacts-info img {
    height: 40px;
    max-width: 100%;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-contacts-info div {
    width:33%;
}

.bottom-contacts-text {
    display:flex;
    justify-content:center;
    width: 100%;
}

.bottom-contacts-text p {
    text-align: center;
    font-weight: 500;
    margin-top:5px;
    margin-bottom:20px;
    word-wrap: break-word;
}

.bottom-contacts-text div {
    width:33%;
}

footer {
    background-color: rgb(31, 31, 31);
    padding-top:40px;
    padding-bottom: 20px;
    color:white;
}
.footer-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    width: 100%;
}

footer .logo {
    margin-right: 20px;
}

.footer-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

footer .copyright .back-top {
    display:inline-block;
}

footer .copyright p {
    font-size: 10px;
}

footer .copyright {
    padding-top:15px;
}

.copyright {
    width:87%
}

footer .back-top {
    padding-top:20px;
}

@media screen and (max-width:1200px) {
    .text-inside h3 {
        font-size: 1.55vw;
    }
    .text-inside p {
        font-size: 1vw;
    }
}

@media screen and (max-width:1031px) {
    .blog-image-container p {
        white-space: nowrap;
    }
}

@media screen and (max-width:1000px) {
    .about-content-container {
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
    }
    .about-text {
        text-align: center;
        width: 100%;
    }
    .text-inside h3 {
        font-size: 2.5vw;
    }
    .text-inside p {
        font-size: 1.8vw;
    }
    .text-inside {
        bottom:4px;
        max-height: 22%;
    }
    .about-img {
        width:50%;
        text-align: center;
    }
    .about-img:first-child {
        order:1;
    }
    .contact-content-container {
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
    }
    .content {
        order:2;
        text-align: center;
    }
    .content input, textarea {
        width:96%;
    }
    .contact-title {
        text-align: center;
    }
    .send-message2 {
        align-self: center;
    }
    .back-top {
        padding-right: 20px;
    }
    .blog-title-container {
        text-align: center;
    }
    .banner-container {
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;

    }
    .image-container {
        order:1;
        padding-top: 30px;
    }
    .title-container {
        text-align: center;
    }
    .navigation ul {
        padding-left:0px;
    }
    .showcase-title h1, .about-title {
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .blog-image-container p {
        white-space: normal;
    }
}

@media screen and (max-width:480px) {
    .title-container a {
        padding-left: 12%;
        padding-right: 12%;
    }
    .send-message2 a  {
        padding: 15px 25px;
    }
    .navigation ul {
        margin-top: 20px;
    }
    .img-text .article-desc {
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .top-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navigation {
        order:2;
        text-align: center;
    }
}